@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Cerner HealthCare Solutions Pvt. Ltd<br />
    Manyata Tech Park, H2<br />
    <abbr title="Phone">Ph :</abbr>
    0804453267
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@cerner.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@cerner.com</a>
</address>